<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ListViewFoot"
          android:versionCode="1"
          android:installLocation="auto"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7"
            android:targetSdkVersion="16"
            />

    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:name=".GloabAppLication">

        <activity android:name=".activity.LoadingActivity"
                  android:label="@string/app_name"
                  android:clearTaskOnLaunch="true"
              android:finishOnTaskLaunch="true"
              android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
             android:launchMode="singleTop"
               >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="main.activity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.InterNetGetImage" />
        <activity android:name=".activity.GetSdcardActivity"/>
        <service android:name=".sercices.StartAppServer"/>
        <service android:name=".sercices.AppWidget_TimeService"
                 >
            <intent-filter>
                <action android:name="com.example.listview.app_time.server"/>
            </intent-filter>
        </service>

        <activity
                android:name=".activity.UninstallActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package"  />
            </intent-filter>
        </activity>
        <activity android:name=".ParentActivity"/>
        <activity android:name=".activity.DrawMenuActivity"/>
        <activity android:name=".activity.ListTxtPathActivity">

        </activity>
        <activity android:name=".activity.ReadContentTxtActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                >

        </activity>
        <receiver android:name=".broadcast.PackageRemovedBracd" android:label="appRemove"
               >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"></action>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BroadCastOnClick">
            <intent-filter>
                <action android:name="com.notify.toast"/>
            </intent-filter>
        </receiver>
        <!--appWidget组件 的更新和控制-->
        <receiver android:name=".appwidgets.AppsWidget_Timer">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/appwidgets_time"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_PRESENT" />// 用户唤醒设备时，接受这个广播
                <action android:name="android.intent.action.BOOT_COMPLETED" />


            </intent-filter>
            <intent-filter>
                <action android:name="com.example.listView.app_UPTIME" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
