<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ListViewFoot"
          android:versionCode="1"

          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"
            android:targetSdkVersion="17"
            />

    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name="MyActivity"
                  android:label="@string/app_name"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TwoActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="main.activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".InterNetGetImage" />
        <activity android:name=".GetSdcardActivity"/>
        <service android:name=".sercices.StartAppServer"/>
        <service android:name=".sercices.BackRunningAlwaysService">
            <intent-filter>
                <action android:name="com.example.listview.app_time.server"/>
            </intent-filter>
        </service>

        <activity
                android:name=".UninstallActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package"  />
            </intent-filter>
        </activity>
        <receiver android:name=".broadcast.PackageRemovedBracd" android:label="appRemove"
               >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"></action>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BroadCastOnClick">
            <intent-filter>
                <action android:name="com.notify.toast"/>
            </intent-filter>
        </receiver>
        <!--appWidget组件 的更新和控制-->
        <receiver android:name=".appwidgets.AppsWidget_Timer">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/appwidgets_time"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter> <intent-filter>
                <action android:name="com.example.listView.app_UPTIME" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
